<template>
  <v-card-text>
    <v-sheet class="pa-4 primary lighten-2">
      <v-text-field
        v-model="search"
        label="Поиск"
        dark
        flat
        solo-inverted
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      ></v-text-field>
    </v-sheet>
    <v-card-text>
      <v-treeview
        :items="items"
        :load-children="fetchFiles"
        :search="search"
        :open="open"
        :active.sync="active"
        activatable
        rounded
        hoverable
        @update:active="this.SET_ACTIVE_TREE_NODE"
      >
        <template v-slot:prepend="{ item, open }">
          <v-icon v-if="!item.file">
            {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
          </v-icon>
        </template>
      </v-treeview>
    </v-card-text>
  </v-card-text>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'FILESTRUCTURE',
      'FILESINFOLDER'
    ]),
    items () {
      return [
        {
          name: 'root',
          id: 0,
          children: this.FILESTRUCTURE
        }
      ]
    },
    selected () {
      if (!this.active.length) return undefined

      const id = this.active[0]

      return this.FILESINFOLDER[id]
    }
  },
  methods: {
    ...mapActions([
      'GET_REMOTE_FILESTRUCTURE',
      'SET_ACTIVE_TREE_NODE'
    ]),
    async fetchFiles (item) {
      if (item.name === 'root') {
        return this.GET_REMOTE_FILESTRUCTURE()
      }
    }
  },
  data () {
    return {
      open: [0],
      search: null,
      active: []
    }
  }
}
</script>
