<template>
  <v-simple-table>
    <template v-slot:default>
      <tbody>
        <v-hover
         v-slot="{ hover }"
         v-for="(item, index) in ACTIVEFILES"
         :key="index"
        >
          <tr>
            <td>{{ item }}</td>
            <td>
              <v-btn
              fab
              small
              class="row_button"
              v-show="hover"
              title="Удалить"
              @click="DELETE_FILE(index)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
              <v-btn
              fab
              small
              class="row_button"
              v-show="hover"
              title="Скачать"
              >
                <v-icon>mdi-download</v-icon>
              </v-btn>
              <v-btn
              fab
              small
              class="row_button"
              v-show="hover"
              title="Предварительный просмотр"
              @click="SET_OVERLAY()"
              >
                <v-icon>mdi-image</v-icon>
              </v-btn>
            </td>
          </tr>
        </v-hover>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'ACTIVEFILES'
    ])
  },
  data () {
    return {
    }
  },
  methods: {
    ...mapActions([
      'DELETE_FILE',
      'SET_OVERLAY'
    ])
  }
}
</script>

<style scoped>
.row_button{
  margin-right:10px;
}
</style>
