<template>
  <v-app>
    <v-overlay
      :z-index="GETZINDEX"
      :value="ISOVERLAY"
    >
      <v-btn
        color="teal"
        @click="SET_OVERLAY()"
        fab
        right
        absolute
        small
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-img
        max-height="80%"
        src="https://cdn.logo.com/hotlink-ok/logo-social.png"
      ></v-img>
    </v-overlay>
    <v-navigation-drawer
      v-model="drawer"
      app
      permanent
      absolute
      :width="350"
    >
      <FolderTree/>
    </v-navigation-drawer>

    <v-app-bar
     app
     absolute>
      <v-file-input
        class="v-file-input"
        placeholder="Файл для загрузки"
        truncate-length="15"
      ></v-file-input>
      <v-btn
        fab
        color="white"
        left
        small
        title="Загрузить файл"
        @click="dialog = !dialog"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-progress-linear
        :active="ISLOADING"
        :indeterminate="ISLOADING"
        absolute
        bottom
        color="deep-purple accent-4"
      ></v-progress-linear>
    </v-app-bar>

    <v-main>
      <Table/>
    </v-main>
  </v-app>
</template>

<script>
import FolderTree from '@/components/FolderTree'
// import FileUploader from '@/components/FileUploader'
import Table from '@/components/Table'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ssh-fm',
  components: {
    FolderTree,
    Table
  },
  data () {
    return {
      drawer: null
    }
  },
  computed: {
    ...mapGetters([
      'ISLOADING',
      'ISOVERLAY',
      'GETZINDEX'
    ])
  },
  methods: {
    ...mapActions([
      'SET_OVERLAY'
    ])
  }
}
</script>

<style scoped>
.v-file-input {
  margin-right: 15px
}
</style>
